
<%= render 'books/list', book: @book, user: @user %>
<!--検索機能------->
<sectin class="title clearfix"><h2>Books</h2>
  <p>search</p>
<%= form_tag(books_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :title => nil %>
<% end %>
<!--検索機能------->
  <table class="table clearfix">
    <thead>
     <tr>
  	  <th>Title</th>
  	  <th>&nbsp;Opinion</th>
  	  <th></th>
     </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
    	   <td>
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
          <%= link_to book.title, book_path(book.id), class: "show_#{book.id}" %>
<!-----お気に入り--->
              

             <% if !Favorite.exists?(user_id:current_user.id,book_id:book.id) %>
              <%= link_to "お気に入り",book_favorites_path(book),method: :post %>
              <% else %>
              <%= link_to "お気に入り解除",book_favorites_path(book),method: :delete %>
              <% end %>

<!------------------->
          </td>
    	   <td>&nbsp;&nbsp;<%= book.opinion %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</sectin>
<div>
&nbsp;
</div>