<%= render 'books/list', books: @books, book: @book_new, user: @user %>

<div class="flash">
  <%= flash[:success] %>
</div>
<div class="flash">
  <%= flash[:update] %>
</div>



 <section class="title clearfix">
  <h1>Book detail</h1>
   <table class="table">
   	  <tr>
   	 	<td>
   	 	<%= link_to user_path(@user.id),class: "user_#{@user.id}" do %>
   	 	<%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %><br>
   	 		<%= @book.user.name %>
   	 	<% end %>
   	    </td>
   	    <td>
	 	<%= @book.title %>
	 	</td>
	 	<td>
	 	<%= @book.opinion %>&nbsp;&nbsp;
	 	</td>
	 	<td>
	 	<% if @book.user == current_user %>
	 	<button class="btn btn-success"><%= link_to "Edit",edit_book_path(@book.id), class: 'edit_book_#{@book.id}' %></button>
	 	<% end %>
	    </td>
	    <td>
	 	<% if @book.user == current_user %>
		<button class="btn btn-danger"><%= link_to "Destroy", book_path(@book.id), class: "destroy_book_#{@book.id}", method: :delete, "data-confirm" => "本気？本当に消すんですか?" %></button>
		 <% end %>
		</td>
	  </tr>
   </table>
<!--コメント機能-->
  <%= form_for [@book, @post_comment] do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_field :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>

<div class="line-bc">
  <% @book.post_comments.each do |post_comment| %>
   		<li class="comment">
   		</style>
            <div class="comment-body bb">
                <div class="comment-text">
                    <div class="comment-author clearfix">
                        <%= post_comment.user.name %>さん
                        <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                    </div>
                    <div class="balloon6">
                    	<div class="chatting">
                          <div class="faceicon">
                            <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no_image.jpg" %>
                          </div>
        						      <div class="says">
                      		  <%= post_comment.comment %>
                      		</div>
                    	</div>
                    </div>
                </div>
            </div>
        </li>
    <% end %>
</div>
<!--------------------->
</section>